/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Navigation bar style */

nav {
    background-color: #111;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 4px 2px 0;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

ul > li > a {
    display: block;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    color: #f2f2f2;
}

#brand_inside {
    font-family: Arial, sans-serif;
    font-size: 21px;
    display: none;
    padding: 12px;
    padding-top: 0;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
}

#brand_outside {
    float: left;
    font-family: Ariaal, sans-serif;
    font-size: 18px;
    display: block;
    padding: 12px;
    margin-left: 25px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
}

input#menu {
    display: none;
}

.active-m
{
    background-color: #353535;
}

ul > li > a:hover:not(.-active-m ):not(#brand_inside){
    background-color: #292929;
    color: white;
}

@media screen and (max-width: 600px) {
    nav > ul > li {
        width: 100%;
    }
     nav {
        position: static;
     }

     header h1 {
        size: 16px;
     }

     #brand_inside {
        display: none;
     }

     #brand_outside {
        display: none;
     }

     .menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: Ariaal, sans-serif;
    }

    nav label {
    width: 100%;
    height: 36px;
    display: block;
    cursor: pointer;
    background: url('../img/menu3.png') no-repeat center center;
    }

    input#menu {
        display: none;
    }

    input:checked +label {
        background-image: url('../img/cancel3.png');
    }


    input:checked ~ .menu-content {
        max-height: 100%;
    }
}
/*  End of Navigation bar style */



/*header Style */
.header
{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    padding: 15%;
    height: 90vh;
}

.photo
{
    width: 10em;
    margin: auto;
    display: block;
    overflow: auto;
}

.toptext {
    text-align: center;
    margin: 10px;
    color: white;
    letter-spacing: 2px;
}

.subtext {
    font-size: 15px;
    color: #f2f2f2;
}
/*End of Header Style */

/*Footer*/
footer {
    background-color: #111;
    bottom: 0;
    box-shadow: 0 4px 2px 0;
    font-size: 9px;
    color: gray;
    padding: 10px;
    height: 10vh;

}

