/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Georgia, Serif;
    background-color: #f2f2f2;
}

/* Navigation bar style */
nav {
    background-color: #222;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px 0;

}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
     
}

ul > li > a {
    display: block;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    color: #f2f2f2;
}
#brand_inside {
    font-family: Arial, sans-serif;
    font-size: 21px;
    display: none;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;

}
#brand_outside {
    float: left;
    font-family: Ariaal, sans-serif;
    font-size: 18px;
    display: block;
    padding: 12px;
    margin-left: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;

}

.active
{
    background-color: #353535;
}

/* Body Style */

.bcard {
    width: 100%;
    height: 95vh;
}


 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


ul > li > a:hover:not(.active ):not(#brand_inside){
    background-color: #292929;
    color: white;

}

@media screen and (max-width: 600px) {
    ul > li {
        width: 100%;
    }
     nav {
        position: static;
     }

     header h1 {
        size: 16px;
     }

     #brand_inside {
        display: block;
     }

     #brand_outside {
        display: none;
     }
}