/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Georgia, Serif;
    background-color: #f2f2f2;
}

/* Navigation bar style */

nav {
    background-color: #222;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 4px 2px 0;

}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
     
}

ul > li > a {
    display: block;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    color: #f2f2f2;
}
#brand_inside {
    font-family: Arial, sans-serif;
    font-size: 21px;
    display: none;
    padding: 12px;
    padding-top: 0;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;

}
#brand_outside {
    float: left;
    font-family: Ariaal, sans-serif;
    font-size: 18px;
    display: block;
    padding: 12px;
    margin-left: 25px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;

}

input#menu {
    display: none;
}

.active
{
    background-color: #353535;
}

ul > li > a:hover:not(.active ):not(#brand_inside){
    background-color: #292929;
    color: white;

}


/*  End of Navigation bar style */



/*header Style */
.bcard {
    width: 100%;
    height: 40vh;
}


 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*End of Header Style */


/* Body Style */
.main_article {
    padding: 20px;
    font-family: Arial, sans-serif
}

.main_article > h1{
    padding: 20px;
    text-align: center;
}






/* End ofBody Style */


/* Style for Responsiveness */

@media screen and (max-width: 600px) {
    ul > li {
        width: 100%;
    }
     nav {
        position: static;
     }

     header h1 {
        size: 16px;
     }

     #brand_inside {
        display: none;
     }

     #brand_outside {
        display: none;
     }

     .menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: Ariaal, sans-serif;
    }

    nav label {
    width: 36px;
    height: 36px;
    display: block;
    cursor: pointer;
    background: url(img/menu.png) no-repeat center center;
}

input#menu {
    display: none;
}

input:checked +label {
    background-image: url(img/close.png);
}


input:checked ~ .menu-content {
    max-height: 100%;
}
}